<div class="card my-5">
    <div class="card-header">
        <h4>Reset Password</h4>
    </div>
    <div class="card-body">
        <form [formGroup]="resetPass" (ngSubmit)="reset()">
            <div class="alert alert-danger" *ngIf="isError">
                Error While Resetting Password
            </div>
            <div class="alert alert-success" *ngIf="isSuccess">
               Password Changed
            </div>
            <div class="form-group">
                <label for="oldPassword">Current Password</label>
                <input type="password" formControlName="oldPassword" class="form-control" placeholder="Enter Current Password"  id="oldPassword" name="oldPassword">
                <small class="text-danger" *ngIf="oldPassword.touched && oldPassword.hasError('required')">Current Password is required</small>
            </div>
            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" formControlName="password" class="form-control" placeholder="Enter New Password"  id="password" name="password" (input)="matchPassword()">
                <small class="text-danger" *ngIf="password.touched && password.hasError('required')">Password is required</small>
                <small class="text-danger" *ngIf="password.value && password.value.length>50">Password cannot exceed 50 characters</small>
                <small class="text-danger" *ngIf="password.value && password.value.length<8">Password should have atleast 8 characters</small>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" (input)="matchPassword()">
                <small class="text-danger" *ngIf="confirmPassword.touched && confirmPassword.hasError('required')">Password is required</small>
                <div><small class="text-danger" *ngIf="confirmPassword.touched && !checkPassword">Confirm Password should match New Password</small></div>
            </div>
            <input class="btn btn-dark" type="submit" [disabled]="!resetPass.valid || !checkPassword" value="Reset">
        </form>
    </div>
</div>