<div class="row justify-content-center mt-5">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>Sign Up</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="signUpForm" (ngSubmit)="onSubmitSignup()">
                    <div class="alert alert-danger" role="alert" *ngIf="username.touched && userNameTaken">
                        Username is already taken
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" placeholder="Enter Username" name="username" id="username" formControlName="username" (input)="checkUsername()">
                        <small class="text-danger" *ngIf="username.touched && username.hasError('required')">Username is required</small>
                        <small class="text-danger" *ngIf="username.touched && username.value.length>20">Username cannot exceed 20 characters</small>
                        <small class="text-danger" *ngIf="username.touched && username.value.length<3">Username should have atleast 3 characters</small>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" placeholder="Enter Email" name="email" id="email" formControlName="email">
                        <small class="text-danger" *ngIf="email.touched && email.hasError('required')">Email is required</small>
                        <small class="text-danger" *ngIf="email.touched && email.hasError('email')">Email is invalid</small>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" placeholder="Enter Password" name="password" id="password" formControlName="password" (input)="matchPassword()">
                        <small class="text-danger" *ngIf="password.touched && password.hasError('required')">Password is required</small>
                        <small class="text-danger" *ngIf="password.value && password.value.length>50">Password cannot exceed 50 characters</small>
                        <small class="text-danger" *ngIf="password.value && password.value.length<8">Password should have atleast 8 characters</small>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword" (input)="matchPassword()">
                        <small class="text-danger" *ngIf="confirmPassword.touched && confirmPassword.hasError('required')">Confirm Password is required</small>
                        <small class="text-danger" *ngIf="confirmPassword.touched && !checkPassword">Confirm Password should match Password</small>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-dark" value="Sign Up" [disabled]="!signUpForm.valid || userNameTaken || !checkPassword">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
