<div class="card my-5">
    <div class="card-header">
        <h4>Edit Personal Details</h4>
    </div>
    <div class="card-body">
        <form [formGroup]="userDetails" (ngSubmit)="submit()" >
            <div class="alert alert-danger" *ngIf="isError">
                Could not update Personal Details
            </div>
            <div class="alert alert-success" *ngIf="isSuccess">
               Personal Details Updated
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" [value]="user.username" disabled>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" formControlName="email" class="form-control" id="email" name="email">
                <small class="text-danger" *ngIf="email.touched && email.hasError('required')">Email is required</small>
                <small class="text-danger" *ngIf="email.touched && email.hasError('email')">Email is invalid</small>
            </div>
            <input class="btn btn-dark" type="submit" [disabled]="!userDetails.valid" value="Save">
        </form>
    </div>
</div>