<div class="row my-5">
    <div class="col-12 col-md-3">
        <div class="nav nav-pills nav-pills-dark" aria-orientation="vertical">
            <a class="nav-link active" data-toggle="pill" href="#movies">Manage Movies</a>
            <a class="nav-link" data-toggle="pill" href="#theatres">Manage Theatres</a>
            <a class="nav-link" data-toggle="pill" href="#shows">Manage Shows</a>
        </div>
    </div>
    <div class="col-12 col-md-9">
        <div class="tab-content">
            <app-manage-movies class="tab-pane active" id="movies"></app-manage-movies>
            <app-manage-theatres class="tab-pane" id="theatres"></app-manage-theatres>
            <app-manage-shows class="tab-pane" id="shows"></app-manage-shows>
        </div>
    </div>
</div>