<div class="row my-3">
    <div class="mx-3">
        <h3>Theatres</h3>
    </div>
    <span class="float-right ml-auto mr-3">
        <a class="float-right" [routerLink]="['/theatre','add']"><i class="material-icons">playlist_add</i> Add Theatre</a>
    </span>
</div>
<div id="accordion">
    <ul class="list-group">
        <li *ngFor="let theatre of theatres" class="list-group-item list-group-item-action">
            <span><strong>{{theatre.name}}</strong></span>
            <span class="float-right ml-auto">
                <button class="btn btn-link text-danger" (click)="delete(theatre)"><i class="material-icons">delete_forever</i> Delete</button>
            </span>
            <span class="float-right ml-auto mr-2">
                <button class="btn btn-link text-success" [routerLink]="['/theatre', theatre.id, 'edit']"><i class="material-icons">edit</i> Edit</button>
            </span>
        </li>
    </ul>
</div>